body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  width: 80%;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
}

.lista {
  list-style: none;
  padding: 0;
}

.lista li {
  margin-bottom: 1cm;
  display: flex;
  align-items: center;
}

.check {
  margin-right: 10px;
  font-size: 1.2em;
}
.main-title {
  font-size: 2rem; /* Tamaño grande */
  color: #003396; /* Color azul */
  text-align: center; /* Centrar el texto */
  margin-bottom: 20px; /* Espacio inferior */
}
