<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home-content.component.css">
</head>
<body>
  <nav class="navbar">
    <ul class="lista">
      <li><span class="check">✔</span> Utiliza nuestra aplicación para personalizar tu plan con el método Compra Inteligente, disponible en Soles o Dólares.</li>
      <li><span class="check">✔</span> Comparte tu crédito vehicular con amigos o familiares directamente desde la aplicación.</li>
      <li><span class="check">✔</span> Nuestra plataforma se ajusta a los requerimientos de las principales entidades financieras autorizadas en Perú.</li>
      <li><span class="check">✔</span> Define la moneda, tipo de tasa de interés y plazos de gracia desde el primer uso.</li>
      <li><span class="check">✔</span> Consulta los cálculos del VAN y TIR, y cumple con las normas de transparencia del Sistema Financiero Peruano.</li>
      <li><span class="check">✔</span> Optimiza tu financiamiento realizando pagos anticipados y ajusta las cuotas según tus necesidades.</li>
    </ul>
    <h1 class="main-title">¡Si eres Cuenta Sueldo con nosotros obtendrás mejores tasas!</h1>
  </nav>
</body>
</html>
