<div class="container">
    <div class="row mt-4">
        <div class="col-12 mt-3">
            <p class="text-center">Utiliza nuestra aplicación para personalizar tu plan con el método Compra
                Inteligente, disponible en Soles o Dólares.</p>
            <p class="text-center">Comparte tu crédito vehicular con amigos o familiares directamente desde la
                aplicación.</p>
            <p class="text-center">Nuestra plataforma se ajusta a los requerimientos de las principales entidades
                financieras autorizadas en Perú.</p>
            <p class="text-center">Define la moneda, tipo de tasa de interés y plazos de gracia desde el primer uso.</p>
            <p class="text-center">Consulta los cálculos del VAN y TIR, y cumple con las normas de transparencia del
                Sistema Financiero Peruano.</p>
            <p class="text-center">Optimiza tu financiamiento realizando pagos anticipados y ajusta las cuotas según tus
                necesidades.</p>
        </div>
    </div>
</div>