@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

.container-center {
    display: grid;
    place-items: center;
}


.title-login {

    top: 169px;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #002A8D;
}

.form-control {
    border-color: #FF7800;
    color: #202E44;
}

.btn {
    background-color: #FF7800;
    border-color: #FF7800;
}

.image-login {
    height: 530px;
    width: auto;
}

.img-fluid {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}