<div class="container">
  <h1 class="main-title">Disfruta los mejores años de tu auto con Compra Inteligente</h1>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <img src="./../../../assets/images/cuotasbajas.jpg" alt="Imagen">
      <h3 class="feature-title">Cuotas Bajas</h3>
      <p>Hasta 45% más bajas que un Crédito Vehicular Convencional.</p>
    </div>
    <div class="feature col">
      <img src="./../../../assets/images/ahorra.jpg" alt="Imagen">
      <h3 class="feature-title">Ahorra</h3>
      <p>Reduce gastos de mantenimiento</p>
    </div>
    <div class="feature col">
      <img src="./../../../assets/images/diversidad.jpg" alt="Imagen">
      <h3 class="feature-title">Diversidad</h3>
      <p>Financiamos autos nuevos y/o semi-nuevos</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <img src="./../../../assets/images/car.jpg" alt="Imagen">
    </div>
    <div class="col">
      <h1 class="title">¡La forma más fácil de renovar tu auto!</h1>
      <ul class="lista">
        <li><span class="check">✔</span> Ten la posibilidad de renovar tu auto cada dos o tres años.</li>
        <li><span class="check">✔</span> Accede a cuotas 45% más baja que un Crédito Vehicular Convencional al mismo plazo e importe.</li>
        <li><span class="check">✔</span> Financiamos tu auto a 24 y 36 meses.</li>
        <li><span class="check">✔</span> Al finalizar el crédito podrás renovar tu auto por otro o mantener el actual.</li>
        <li><span class="check">✔</span> Al solicitar la renovación ahorra en gastos de mantenimiento y reparaciones por la antigüedad del vehículo.</li>
        <li><span class="check">✔</span> Paga el Seguro Vehicular BCP dentro de la cuota del crédito sin mayores trámites ni renovaciones anuales.</li>
        <button class="btn btn-custom" type="submit">Solicítalo aquí</button>



      </ul>
    </div>
  </div>
</div>
