.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 280px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}

.content {
    flex-grow: 1;
    margin-left: 280px;
    overflow-y: auto;
    height: 100vh;
}